<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.board.mapper.BoardMapper">

	<sql id="search">
	<if test="searchType != null">
		<if test="searchType == 't' ">
			and title like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'c'.toString()">
			and content like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'w'.toString()">
			and writer like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'tc'.toString()">
			and (title like CONCAT('%', #{keyword}, '%')) or content like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'cw'.toString()">
			and (content like CONCAT('%', #{keyword}, '%')) or writer like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'tcw'.toString()">
			and (title like CONCAT('%', #{keyword}, '%')) or content like CONCAT('%', #{keyword}, '%') or writer like CONCAT('%', #{keyword}, '%')
		</if>
	</if>
	</sql>

	<insert id="insert" parameterType="com.spring.board.domain.BoardVO" useGeneratedKeys="true" keyProperty="bno">
	insert into test_board (title, content, writer, bpw)
	values (#{title}, #{content}, #{writer}, #{bpw})
	</insert>
	
	<insert id="insertAttach" parameterType="map">
	insert into test_board_attach (fname, bno) values (#{fname}, #{bno})
	</insert>
	
	<!-- <inssert id="updateAttach" parameterType="map">
	insert into test_board_attach(fname, bno) values (#{fname}, #{bno})
	</inssert> -->
	
	<select id="listPage" parameterType="int" resultType="com.spring.board.domain.BoardVO">
	<![CDATA[
	select 
	bno, title, writer, regdate, viewcnt
	from test_board 
	where bno > 0
	order by bno desc, regdate desc
	limit #{page}, 10
	]]>
	</select>
	
	<select id="listCriteria" parameterType="com.spring.board.domain.Criteria" resultType="com.spring.board.domain.BoardVO">
	<![CDATA[
	select 
	bno, title, writer, regdate, viewcnt
	from test_board 
	where bno > 0
	order by bno desc, regdate desc
	limit #{pageStart}, #{perPageNum}
	]]>
	</select>
	
	<select id="selectAll" resultType="com.spring.board.domain.BoardVO">
	<![CDATA[
	select 
	bno, title, writer, regdate, viewcnt
	from test_board 
	where bno > 0
	order by bno desc, regdate desc
	]]>
	</select>
	
	<select id="selectSearchList" resultType="com.spring.board.domain.BoardVO">
	<![CDATA[
	select 
	*
	from test_board 
	where bno > 0
	]]>
	<include refid="search"></include>
	<![CDATA[
	order by bno desc
	limit #{pageStart}, #{perPageNum}
	]]>
	</select>
	
	<select id="selectSearchCount" resultType="int">
	<![CDATA[
	select 
	count(bno)
	from test_board 
	where bno > 0
	]]>
	<include refid="search"></include>
	</select>
	
	<select id="select" parameterType="int" resultType="com.spring.board.domain.BoardVO">
	select
	bno, title, content, writer, bpw, regdate, moddate, viewcnt
	from test_board 
	where bno = #{bno}
	</select>
	
	<select id="selectAttach" parameterType="int" resultType="String" >
	select 
	fname 
	from test_board_attach 
	where bno = #{bno} 
	order by regdate
	</select>
	
	<update id="update" parameterType="com.spring.board.domain.BoardVO">
	update test_board 
	set title = #{title}, content = #{content}, bpw = #{bpw}, moddate = now()
	where bno = #{bno}
	</update>
	
	<update id="updateViewCnt" parameterType="com.spring.board.domain.BoardVO">
	update test_board 
	set viewcnt = #{viewcnt}
	where bno = #{bno}
	</update>
	
	<delete id="delete" parameterType="java.util.List">
	delete from test_board 
	where bno in 
  	<foreach item="item" index="index" collection="list"
      open="(" separator="," close=")">
        #{item}
 	</foreach>
	</delete>
	
	<delete id="deleteAll">
	delete from test_board
	</delete>
	
	<delete id="deleteAttach" parameterType="java.util.List">
		delete from test_board_attach 
		where bno in 
	  	<foreach item="item" index="index" collection="list"
	      open="(" separator="," close=")">
	        #{item}
	 	</foreach>
	</delete>

</mapper>
