<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.board.mapper.ReplyMapper">

	<select id="selectReply" parameterType="int" resultType="com.spring.board.domain.ReplyVO">
	select
	*
	from test_board_reply
	where bno = #{bno} and upper = 0
	</select>
	
	<select id="selectReReply" parameterType="int" resultType="com.spring.board.domain.ReplyVO">
	select
	*
	from test_board_reply
	where upper = #{rno}
	</select>
	
	<insert id="insert" parameterType="com.spring.board.domain.ReplyVO">
	insert into test_board_reply (bno, replytext, replyer, upper)
	values (#{bno}, #{replytext}, #{replyer}, #{upper})
	</insert>
	
	<update id="update" parameterType="com.spring.board.domain.ReplyVO">
	update test_board_reply
	set replytext = #{replytext}
	where rno = #{rno}
	</update>
	
	<delete id="delete" parameterType="int">
	delete from test_board_reply
	where rno = #{rno}
	</delete>

</mapper>
